# 0. Импорт данных из различных источников в Python

Источники:

Tiingo, IEX, Alpha Vantage, Enigma, Quandl \
St.Louis FED (FRED), Kenneth French’s data library, World Bank \
OECD, Eurostat, Thrift Savings Plan, Nasdaq Trader symbol definitions \
Stooq, MOEX, Naver Finance


https://pandas-datareader.readthedocs.io/en/latest/remote_data.html

In [1]:
# import data reader package
import pandas_datareader as pdr

import pandas as pd
from datetime import datetime
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [2]:
# Выкачаем данные из yahoo finance 
# Вернем рубль по 30 !
start = datetime(2000, 1, 1)
end = datetime(2020, 12, 1)
rub = pdr.data.DataReader("USDRUB=X", 'yahoo', start, end)
rub[:5]

                 High        Low       Open      Close  Volume  Adj Close
Date
2003-12-01  29.730000  29.690001  29.730000  29.700001     0.0  29.700001
2003-12-02  29.700001  29.690001  29.690001  29.690001     0.0  29.690001
2003-12-03  29.690001  29.690001  29.690001  29.690001     0.0  29.690001
2003-12-04  29.680000  29.680000  29.680000  29.680000     0.0  29.680000
2003-12-05  29.629999  29.629999  29.629999  29.620001     0.0  29.620001

В данных заданиях под курсом рубля подразумевается обменный курс рубля к доллару - за 1 доллар столько то рублей. Падение курса - значит за 1 доллар дают теперь больше рублей. Смотрим на цену закрытия (Close), если не сказано другое.

1. В какой день наблюдалось наибольшее падение курса рубля. Какой это был день недели? Какой это был месяц и год?

2. В какой день была наибольшая разница между ценой открытия и закрытия?

3. Постройте график курса и изменения курса рубля.

4. Создайте переменные со среднемесячным/средненедельным/среднегодовым курсом рубля. Постройте графики

5. Различается ли динамика курса рубля в зависимости от дней недели?

6. Различается ли динамика курса рубля в зависимости от месяца?

7. Давайте ответим на классический вопрос: как связан курс рубля с ценой на нефть в зависимости от временного промежутка?